@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  background-color: rgb(21, 21, 21);
  width: 100vw;
  height: 100vh;
}

/* --------------Loading----------------- */
.Loading{
  width: 100%;
  min-height: 100vh;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

/* --------------HeaderContent----------------- */
.HeaderContent{
  background-color: aliceblue;
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.link-navbar{
  text-decoration: none;
  color: green
}

.loading-logo{
  width: 150px;
  height: 150px;
  background-color: transparent;
  display: inline-block;
  border-radius: 100%;
  border: 11px solid #4356ff;
  border-top: 11px solid #7b0ce9;
  animation: loading 1s infinite;
}

.loading-text {
  font-size: 70px;
  color: white;
}

@keyframes loading {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}


/* --------------Login----------------- */
.Login {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: 90px;
}

.headphone-png {
  width: 70px;
  height: 70px;
}

.logo-title {
  color: white;
  font-size: 100px;
}

.login-card {
  width: 350px;
  height: 300px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  
}

.login-input {
  border: none;
  border-radius: 8px;
  padding: 10px 50px;
  text-align: center;
}

.login-input:focus {
  box-shadow: 0 0 5px 0;
  outline: none;
}

.login-button{
  padding: 10px 60px;
  border-radius: 50px;
  border: none;
  background-image: linear-gradient(
    to right,
    #4356ff,
    #4a4eff,
    #5645ff,
    #6836ff,
    #7928ff,
    #8b1aff
  );
  color: white;
  font-size: 15px;
  font-weight: 700;
}

.login-button:active {
  scale: 0.95;
}

.login-button:disabled {
  background-image: linear-gradient(
    to right,
    #c9c9c9,
    #616161,
    #474747
  );
  color: rgb(63, 62, 62);
  scale: 0.95;
}

/* --------------Footer----------------- */
.Footer {
  position: absolute;
  width: 100%;
  height: 45px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
}
